PORT=
DATABASE_URL="postgresql://username:password@localhost:5432/postgres?schema=public"
DIRECT_URL=
JWT_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
MAIL_USER=
MAIL_PASSWORD=